body{
	background: #f5f5f5;
}

#title {
  color: #434649;
}

.nav-top {
  background: #595C5F;
  border-radius: 0;
}

.intro-header {
  position: relative;
  background: #FFF;
  height: 75px;
  width: 1160px;
  box-shadow: 2px 2px 2px silver;
  margin-bottom: 20px;

  #learning-tag {
  	height: 100%;
    padding-top: 10px;
    // border: 1px solid green;

      h3 {
        font-size: 130%;
        position: absolute;

      }

  }

  #learning-focus {
    height: 100%;
    padding-top: 15px;

  }


}


.info-container {
	width: 1160px;
	height: 650px;
	position: relative;

	margin: 0 auto;
	.start-log-container {
		position: relative;
		background: #FFF;
		height: 65px;
		width: 275px;
		margin-bottom: 10px;
		text-align:center;

		.btn {
			height: 33px;
			width: 150px;
			position: absolute;
			left: 23%;
			right: 22%;
			top: 27%;
			bottom: 25%;
			color: #FFF;

		}
	}

	.log-form {
		position: relative;
		width: 275px;
		height: 300px;
		border: 1px dashed silver;

		background: #D8EFFF;
		header {
			position: absolute;
			background: #FFF;
			height: 20%;
			width: 100%;
			padding-left: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		footer {
			position: absolute;
			height: 80%;
			width: 100%;
			top: 20%;
		}

		form {
			text-align: center;

		}

		.control-group { 
			text-align: center;
			margin-top: 5px;

		}

		input {
			margin: 0 auto;
			width: 165px;
		}

		button { 
			margin-top: 15px;
		}
	}

	.search-container {
		background: #FFF;
		height: 65px;
		width: 100%;
		margin-bottom: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 10px;
		vertical-align: middle;


		#search-text {
			vertical-align: middle;
			top: 25%;

		}

		input {
			width: 430px;
			height: 40px;
			float: right;
			margin-right: 15px;
			// margin-top: 10px;
			padding-left: 10px;
			border-radius: 3px;
			border: 1px solid silver;
		}

	}

	.card-display {

	}

	.card {
		position: relative;
		width: 280px;
		height: 225px;
		display: inline-block;
		margin-right: 5px;
		border: 1px solid silver;

		header {
			position: absolute;
			width: 100%;
			height: 60%;
      background: #E6E9EC;

		}

		footer {
			position: absolute;
			background: #FFF;
			width: 100%;
			height: 40%;
			top: 60%;

      h5 {
        padding-left: 15px;
      }
			.card-nav {
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 30%;
				background: #F4F4F4;
				border-top: 1px solid #F3F3F3;

				.add-button {
					position: absolute;
					background: #B3B3B3;
					right: 0;
					width: 30px;
					height: 100%;

				}
			}
		}

	}


}


.analytics {
	width: 990px;

	.analytics-card {
		border: 1px solid silver;
		width: 320px;
		height: 440px;
		display: inline-block;
		margin-right: 10px;
		box-shadow: 1px 1px 1px silver;
	}

	#last-card {
		margin: 0;
		border: 1px dashed silver;
	}
}

// Chart css

.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}

.RdYlGn .q0-11{fill:rgb(165,0,38)}
.RdYlGn .q1-11{fill:rgb(215,48,39)}
.RdYlGn .q2-11{fill:rgb(244,109,67)}
.RdYlGn .q3-11{fill:rgb(253,174,97)}
.RdYlGn .q4-11{fill:rgb(254,224,139)}
.RdYlGn .q5-11{fill:rgb(255,255,191)}
.RdYlGn .q6-11{fill:rgb(217,239,139)}
.RdYlGn .q7-11{fill:rgb(166,217,106)}
.RdYlGn .q8-11{fill:rgb(102,189,99)}
.RdYlGn .q9-11{fill:rgb(26,152,80)}
.RdYlGn .q10-11{fill:rgb(0,104,55)}
