{{!--
author: browenchen
Web tool to track, assess, and visualize your weaknesses in a skill
 --}}
<nav class="navbar navbar-inverse nav-top">
  ...
</nav>

<div class="main">
	<h2 id="title" style="text-align: center;">LinkedIn</h2>
	<br>
	{{outlet}}
</div>
